<div class="container">
  <div class="row">
    <div class="col-lg2 col-md-3 col-sm-6">
      <p *ngFor="let usr of users">
        {{ usr.knownas }}
      </p>
      <!-- <p>
        ID: {{ singleuser.id }}
        <br />
        username: {{ singleuser.username }}
        <br />
        gender: {{ singleuser.gender }}
        <br />
        knownAs: {{ singleuser.knownas }}
        <br />
        {{ singleuser.age }}
        <br />
        {{ singleuser.city }}
        <br />
        {{ singleuser.country }}
        <br />
        {{ singleuser.created }}
        <br />
        {{ singleuser.interest }}
        <br />
        {{ singleuser.introduction }}
        <br />
        {{ singleuser.lastActive }}
        <br />
        {{ singleuser.lookingFor }}
        <br />
        {{ singleuser.photoUrl }}
      </p> -->
    </div>
  </div>
</div>

<p>---------></p>
