<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ usre?.photourl }}"
          alt="{{ usre?.knownas }}"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ usre?.city }}, {{ usre?.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ usre?.age }}</p>
          </div>
          <div>
            <strong>Last Active: </strong>
            <p>{{ usre?.lastActive }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ usre?.created }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">
              Like
            </button>
            <button class="btn btn-success w-100">
              Message
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- left hand side-->
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ usre?.knownas }}">
            <h4>Description</h4>
            <p>{{ usre?.introduction }}</p>
            <h4>Looking For</h4>
            <p>{{ usre?.lookingfor }}</p>
          </tab>

          <tab heading="Interests">
            <h4>Interest</h4>
            <p>{{ usre?.interest }}</p>
          </tab>

          <tab heading="Photos">
            <h4>Photos</h4>
            <p>photos will go here</p>
          </tab>

          <tab heading="messages">
            <p>messages will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
    <!-- righgt hand side-->
  </div>
</div>
